.project-card{
    background: transparent;
    box-shadow: 0px 16px 40px transparent;
    border-radius: 20px;
    width:500px;
    height: 500px;
    padding:2rem;
   /* top:50px; */ 
}

a{
    color: black;
}

.projectit{
     padding-bottom : 100px;
     padding-left : 50px;
}

.contai{
    position: relative;
    width : 500px;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
}

.contai:hover .text{
    visibility: visible;
}

.contai:hover img{
    transform: scale(1.1);
}

.photo{
    width: 500px;
    height: 500px;
}

.photo img{
    border-radius: 100px;
    width:500px;
    height: 500px;
    object-fit: center;
    transition: 0.5s ease;
}

.text{
    font-style: italic;
    font-size: 1.2rem;
    font-style: serif;
    position: absolute;
    border-radius: 50px;
    top : 0%;
    left : 0%;
    background-color:  white ;
    opacity: 0.8;
    width : 500px;
    height : 500px;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color : rgb(6, 0, 0);
    visibility: hidden;
}

.text h3{
    margin-bottom: 1.2rem;
}

.project-title h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 46.9067px;
    line-height: 89px;
    color: #F4F4F4;
}


.stack p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 57px;
    color: rgba(244, 244, 244, 0.75);
    padding-bottom:0.7rem;
}

.project-info p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: rgba(244, 244, 244, 0.975);
}

.view a,
.github a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: #F4F4F4;
    text-decoration: none;
}

.card-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-bottom-part{
    display: flex;
    height:30%;
    align-items: flex-end;
}
.view{
    padding-right:2rem
}
.git-icon{
    width: 42px;
    height: 26px;
}
.eye-icon, .git-icon{
    padding-right:1rem;
}

@media (max-width:600px){
    .project-card{
        width:380px;
    }
}