<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="google-signin-client_id" content="17871838593-sk5hol3a6ki20mkkld28984psgmvtqrc.apps.googleusercontent.com
    " />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="stylleMyHost_N.css" >
    <title>Create Room</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="Host-Meet">
          <form action="/fa93aee1-f54a-494a-9423-41814a1717f7" method="post"  class="Host-Meet-form">
            <h2 class="title">Create a Room</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Name" />
            </div>
            <div class="input-field">
                <i class="fas fa-key"></i>
                <input type="text" placeholder="fa93aee1-f54a-494a-9423-41814a1717f7" /> 
            </div>
            <div class="controls">
                    <i class="fas fa-video control-icon"></i>
                    <i class="fa fa-microphone control-icon"></i>
              </div>
            <input type="submit" value="Enter" class="btn solid" />
            
            
          </form>

        </div>
        <img src="host.svg" class = "host-img" alt="lkhj">
      </div>
      <script src="Host.js"></script>
  </body>
</html>



























