<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="body-student student-profile py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent text-center">
                            <!-- <img class="profile_img" src="{{ u.image.url }}"
                                alt="student dp"> -->
                            <h3><%= user.username %></h3>
                        </div>
                        <div class="card-body">
                            <!-- <p class="mb-0"><strong class="pr-1">Username:</strong><%= user.username %></p> -->
                            <!-- <p class="mb-0"><strong class="pr-1">Class:</strong>4</p>
                  <p class="mb-0"><strong class="pr-1">Section:</strong>A</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>User Information: <a href="#"> <i class="pencil fa-solid fa-pencil"></i> </a> </h3>
                        </div>
                        <div class="card-body pt-0">
                            <table class="table table-bordered">
                                <tr>
                                    <th width="30%">Username:</th>
                                    <td width="2%">:</td>
                                    <td><%= user.username %></td>
                                </tr>
                                <tr>
                                    <th width="30%">Email:</th>
                                    <td width="2%">:</td>
                                    <td><%= user.email %></td>
                                </tr>

                                
                        
                            </table>
                        </div>
                    </div>
                

                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>