<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="17871838593-sk5hol3a6ki20mkkld28984psgmvtqrc.apps.googleusercontent.com
    " />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="stylleMyHost_N.css" >
    <title>verification-centre</title>
  </head>

  <body>
    <h1>Verification</h1>

    <% if(typeof message !=='undefined' ){ %>

    <h3 style="color: red"><%= message %></h3>
    <% } %>
    <form action="/verification" method="post">
      <input type="email" name="email" id="" placeholder="Enter email" />
      <br /><br />
      <input type="submit" value="Send verification mail" />
    </form>
  </body>
</html>
