@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  user-select: none;
  font-family: 'Ubuntu', sans-serif;
}

.quizStart{
  margin: 25px;
  align-items: center;
  justify-content: center;
}

.quizStartPara{
  padding-left : 40px;
  padding-top : 30px;
}

.this .start-btn{
   margin-left: 230px;
}



/* body {
  height: 100vh;
  background: #ffff;
  font-family: "Poppins", sans-serif;
} */

.progress-bar-active {
  position: absolute;
  width: 0vw;
  height: 20px;
  background: #04aa6d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  transition: width 1s ease-in-out;
  box-shadow: 0px 0px 12px #04b430;
}

.progress-bar {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50vw;
  height: 20px;
  background: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 30px;
  background-color: #FEFAE0;
}


/* START BOX */

.start-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50vw;
  height: 180px;
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top : 120px;
}

.start-box h3 {
  color: black;
  font-weight: 500;
  font-size: 40px;
  position: absolute;
  top: 10px;
}

.start-btn {
  width: 150px;
  background-color: #e1ad01;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.start-btn:hover{
  background-color: #1F8A70;
}

.start-btn:active {
  box-shadow: 0px 0px 0px #000000;
  transform: translateY(2px);
}

/* le formulaire */

.form-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50vw;
  height: 70vh;
  background: #ffff;
  color: rgba(23, 21, 21, 0.776);
  padding: 10px;

  visibility: hidden;
}

.form-container h3 {
  font-size: 24px;
}

.nbchoix {
  color: #707070;
  margin-bottom: -7rem;
}

.precedant,
.suivant {
  width: 100px;
  text-align: center;
  padding: 10px;
  height: 40px;
  cursor: pointer;
  align-self: flex-end;
  margin: 0px 10px;
  border-radius: 16px;
  color: #000;
  border: none;
}

.precedant {
  background: lightcoral;
  position: absolute;
  bottom: 10px;
  right: 120px;
}

.suivant {
  background: #04aa6d;
  position: absolute;
  bottom: 10px;
  right: 0px;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  margin: 15px 0px;
}
input[type="button"] {
  width: 250px;
  height: 50px;
  margin: 10px 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #f3ff504d;
  border-radius: 20px;
}

input[type="button"]:hover{
  background-color: #e1ad01;
}

input[type="radio"]:checked {
  accent-color: rgb(45, 135, 11);
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 15px 0px;
}

input[type="checkbox"]:checked {
  accent-color: rgb(45, 135, 11);
}

/* les formulaires */
.form1 {
  visibility: hidden;
}

.form1Inp {
  /* -webkit-appearance: none; */
  width: 70%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.form1Inp::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
  box-shadow: 0px 0px 10px #04aa6d;
}

.form1Inp::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.tick-container {
  width: 68%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.ticks {
  height: 7px;
  width: 1px;
  background: rgb(95, 95, 95);
}
.reponses{
  top : 5em;
  padding-top: 40%;
}
.ExpertAnal{
  bottom:45em;
}
.submission{
 
  margin-top : -60px;
}
.nbHeures {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

/* form 2 */

.inp-container {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
}

.label-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 50px;
}

.label-container p {
  margin: 17px 0px;
}

/* form 3 */

.inp-container-form3 {
  position: absolute;
  top: 105px;
  display: flex;
  flex-direction: column;
}

.label-container-form3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 50px;
}

.label-container-form3 p {
  margin: 16px 0px;
}

/* form 4 */

.inp-container-form4 {
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
}

.label-container-form4 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 50px;
}

.label-container-form4 p {
  margin: 15px 0px;
}

/* form5 */

.artiste {
  width: 60%;
  background: #f3ff504d;
  color: black;
  position: absolute;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 22px;
  border: none;
  height: 40%;
  border-radius : 20px;
  border: #e1ad01;
}

@keyframes changeBg {
  0% {
    background: #04b430;
  }

  20% {
    background: #0b76a8;
  }

  65% {
    background: #c764db;
  }

  85% {
    background: #cacc5c;
  }

  100% {
    background: #04b430;
  }
}

/* réponses */

.reponses {
  visibility: hidden;
  text-align: center;
  padding-top: 0;
}

.reponses p {
  position: relative;
  top: -80px;
  margin: 20px 0px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.mobile {
  visibility: hidden;
}

.warn-text {
  visibility: hidden;
}

.sign {
  visibility: hidden;
}

@media (max-width: 888px) {
  .mobile {
    position: fixed;
    visibility: visible;
    z-index: 998;
    background: #000;
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }

  .warn-text {
    visibility: visible;
    position: fixed;
    text-align: center;
    top: 40%;
    z-index: 999;
    color: #04aa6d;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 100%;
  }

  .sign {
    visibility: visible;
    position: fixed;
    z-index: 999;
    color: #f1f1f1;
    bottom: 0;
    right: 0;
  }
}
